# Среды и кэш Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Настройки IDE
.idea/
.vscode/

# Исходные видео
*.mp4
*.avi
*.mov
*.mkv

# Разрешаем Git видеть только наш файл с результатом (если он будет небольшим)
!output.mp4

# Игнорируем скачанные веса нейросети (YOLO сама их скачивает)
*.pt
runs/

# Системные файлы
.DS_Store
Thumbs.db
